.papper {
    background-color: #f2f2f2 !important;
}

.papper1 {
    padding: 65px !important;
}

.schoolmanagementicon {
    width: 450px !important;
    height: 350px !important;
    margin-right: 100px !important;
}

.schoolicon {
    width: 100px !important;
    height: 100px !important;
}

.icon {
    display: flex;
    justify-content: center;
}

.demo {
    width: 250px !important;
}

.box1{
    display: flex;
    width: 800px;
    height: 400px;
}

.login {
    display: flex !important;
    justify-content: left !important;
}